<h2>Faça seu agendamento!<h2>
    <h3><form action="agendamento.php" method="POST">
        <input type="checkbox" name="podologia" value="1"><label>Podologia</label>
        </br>
        <input type="checkbox" name="unha_encravada" value="1"><label>Unha encravada</label>
        </br>
        <input type="checkbox" name="laser" value="1"><label>Laser</label>
        </br>
        <input type="checkbox" name="reflexologia" value="1"><label>Reflexologia</label>
        </br>
        <input type="checkbox" name="spa" value="1"><label>SPA dos pés</label>
        </br>
        <input type="checkbox" name="verruga_plantar" value="1"><label>Verruga plantar</label>
        </br>
        <input type="checkbox" name="pes_diabeticos" value="1"><label>Pés diabéticos</label>
        </br>
        <input type="checkbox" name="retorno" value="1"><label>Retorno</label>
        </br>
        9:00 até as 19:00 de segunda à sexta e aos sábados das 9:00 às 15:00
        </br>
        <input type="date" name="data"/>
        <input type="time" name="hora"/>
        </br></br>
        <input type="submit" name="confirmar" value="Confirmar consulta"/><h3>
            
        Deseja <a href='employee.php?logout'>sair</a>?