<form action="cadastro.php" method="POST">
    Cadastro:
    <br/>
    Digite o seu nome completo: <input type="text" name="nome"/><br/>
    Digite o seu e-mail: <input type="email" name="email"/><br/>
    Digite o seu CPF: <input type="cpf" name="cpf"/><br/>
    Digita o número do seu celular: <input type="tel" name="tel"/><br/>
    Data de nascimento: <input type="date" name="nascimento"/><br/>
    Digite sua senha: <input type="password" name="senha"/><br/>
    Repita sua senha: <input type="password" name="rep_senha"/><br/>
    <input type="submit" name="grava"
    value="Gravar"/>
</form>

<a href='employee.php?voltar'>Voltar para employee</a>