<h3>Login Cliente<h3>
<form action="login.php" method="post">
    <input type="email" name="email"
    placeholder="E-mail"/>
    <br/>
    <input type="password" name="senha"
    placeholder="Senha"/>
    <br/>
    <input type="submit" value="Logar"
    name="login"/>
</form>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
Contato da clinica
<hr>
<br/>
Endereço: Rua, Candido de Abreu, 469 - Centro Cívico, Curitiba. Sala: 903. Andar: 9.
<br/><br/>
Telefone: 32090940    